<div *ngIf="recipeService.loaded$ | async">
  <h2>Dyson Sphere Calculator</h2>

  <div>
    <h3>What alternative recipes you want to use?</h3>
    <div *ngFor="let item of duplicateRecipeItems; let itemIndex = index">
      <label [for]="item.index">{{ item.name }}</label>
      <select [id]="item.index" [(ngModel)]="alternativeRecipeIndex[itemIndex]"
        (ngModelChange)="onChangeAlternateRecipe(itemIndex, item.index)">
        <ng-container *ngFor="let recipe of item.recipes; let index = index">
          <option [value]="index">{{getOptionText(recipe)}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div>
    <label for="amount">Amount you want to make </label>
    <input id="amount" [(ngModel)]="amount" placeholder="amount" type="number">
  </div>
  <ng-container *ngIf="itemsCopy.length > 0">
    <div>
      <label for="itemId">Choose the item you want to make </label>
      <select id="itemId" [(ngModel)]="itemId">
        <ng-container *ngFor="let item of itemsCopy">
          <option [value]="item.index">
            {{ item.name }}
          </option>
        </ng-container>
      </select>
    </div>
  </ng-container>
  <div>
    <button (click)="onClickCalculate()">Calculate</button>
  </div>
  <div *ngFor="let ingredient of result">
    {{ ingredient.name }} {{ ingredient.amount }}
  </div>
</div>